.box-position-0-0 { transform: translate(0, 0); }
.box-position-0-1 { transform: translate(10rem, 0); }
.box-position-0-2 { transform: translate(20rem, 0); }
.box-position-0-3 { transform: translate(30rem, 0); }
.box-position-0-4 { transform: translate(40rem, 0); }
.box-position-0-5 { transform: translate(50rem, 0); }
.box-position-0-6 { transform: translate(60rem, 0); }

.box-position-1-0 { transform: translate(0, 10rem); }
.box-position-1-1 { transform: translate(10rem, 10rem); }
.box-position-1-2 { transform: translate(20rem, 10rem); }
.box-position-1-3 { transform: translate(30rem, 10rem); }
.box-position-1-4 { transform: translate(40rem, 10rem); }
.box-position-1-5 { transform: translate(50rem, 10rem); }
.box-position-1-6 { transform: translate(60rem, 10rem); }

.box-position-2-0 { transform: translate(0, 20rem); }
.box-position-2-1 { transform: translate(10rem, 20rem); }
.box-position-2-2 { transform: translate(20rem, 20rem); }
.box-position-2-3 { transform: translate(30rem, 20rem); }
.box-position-2-4 { transform: translate(40rem, 20rem); }
.box-position-2-5 { transform: translate(50rem, 20rem); }
.box-position-2-6 { transform: translate(60rem, 20rem); }

.box-position-3-0 { transform: translate(0, 30rem); }
.box-position-3-1 { transform: translate(10rem, 30rem); }
.box-position-3-2 { transform: translate(20rem, 30rem); }
.box-position-3-3 { transform: translate(30rem, 30rem); }
.box-position-3-4 { transform: translate(40rem, 30rem); }
.box-position-3-5 { transform: translate(50rem, 30rem); }
.box-position-3-6 { transform: translate(60rem, 30rem); }

.box-position-4-0 { transform: translate(0, 40rem); }
.box-position-4-1 { transform: translate(10rem, 40rem); }
.box-position-4-2 { transform: translate(20rem, 40rem); }
.box-position-4-3 { transform: translate(30rem, 40rem); }
.box-position-4-4 { transform: translate(40rem, 40rem); }
.box-position-4-5 { transform: translate(50rem, 40rem); }
.box-position-4-6 { transform: translate(60rem, 40rem); }

.box-position-5-0 { transform: translate(0, 50rem); }
.box-position-5-1 { transform: translate(10rem, 50rem); }
.box-position-5-2 { transform: translate(20rem, 50rem); }
.box-position-5-3 { transform: translate(30rem, 50rem); }
.box-position-5-4 { transform: translate(40rem, 50rem); }
.box-position-5-5 { transform: translate(50rem, 50rem); }
.box-position-5-6 { transform: translate(60rem, 50rem); }


.empty-cell,
.box {
  background: rgba(225, 226, 241, 0.5);
  box-sizing: border-box;
  height: 10rem;
  width: 10rem;
  text-align: center;
  border: 1px solid;
}
.box {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  border-radius: 50%;
  background: #fafafa;
  border: 4px solid grey;
}
.red {
  background-color: #d85d5d;
  border-radius: 100%;
  z-index: 1;
  color: white;
  height: 10rem;
  width: 10rem;
}

.blue {
  background-color: #77cfda;
  border-radius: 100%;
  z-index: 1;
  color: white;
  height: 10rem;
  width: 10rem;
}
.inactive {
  border-radius: 100%;
  z-index: 1;
  opacity: 0.25;
}