html {
  font-size: calc(5px + 4 * ((100vw - 480px) / 801));
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fcfcfc;
}
h1 {
  margin: 0;
  padding: 3rem;
  font-size: 7rem;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  color: #706e6e;
}
.text-turn-container > h2 {
  font-size: 4rem;
}
header {
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  text-align: center;
  color: rgb(202, 75, 65);
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-container, .right-container {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}
.right-container {
  margin: 4rem;
}
.boardGame-container {
  height: 60rem;
  width: 70rem;
  background: rgba(69, 71, 100, 0.5);
  border: 4px solid grey;
}
.turn-container {
  display: flex;
  justify-content: space-between;
}
.winner-container > h2 {
  color: black;
}


/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}
@media screen and (min-width:640px) {}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  body {
    display: block;
  }
  main {
    flex-direction: row;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .left-container {
    width: 70%;
  }
  .right-container {
    width: 30%;
  }
  .right-container {
    margin: 0;
  }
  .text-turn-container > h2 {
    font-size: 2.5rem;
  }
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  html {
    font-size: 12px;
  }
}