html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
h2 {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 9rem;
  font-size: 2.5rem;
  color: white;
}
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardGame-container {
  height: 725px;
  width: 845px;
}